*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: Helvetica;
    src: url("../Fonts/Helvetica/HelveticaRoundedLTStd-Bd.otf");
}
@font-face {
    font-family: Effra;
    src: url("../Fonts/Effra/Effra_Std_He.ttf");
}
/* main body */
.s2{
    display: flex;
    height: 100vh;
    height: 100vh;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}

.image{
    background-image: url("../photo/cover.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 64vh;
    height: 46vh;
    margin-right: 30px;
}
.text{
    width: 50vh;
    height: fit-content;
    text-align: justify;
    margin-right: 25px;
    margin-left: 30px;
}
.welcome{
    font-family: Effra;
    font-size: 8vh;
    font-weight: bolder;
}
.front{
    font-family: Helvetica;
    font-weight: bolder;
    font-size: 3vh;
    border-left: solid 3px #03a3ff;
    padding-left: 15px;
}
#about{
    display: inline-flex;
    width: 21vh;
    height: 7vh;
    background-color: #03a3ff;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
    border: 3px solid #03a3ff;
    border-radius: 50px;
    font-family: Helvetica;
    font-size: 17pt;
}
#about:hover{
    background-color: white;
    color: #03a3ff;
}
/* Facebook links */
.s3{
    width: 100%;
    /* height: calc(100vh - 190px) ; */
    height: 100vh;
    background-image: url("../photo/Facebook background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items:center;
}
.ico{
    width: 33vh;
    height: 33vh;
}
.titlef{
    font-family: Effra;
    font-size: 8vh;
    color: white;
    text-decoration: none;
}
/* Youtube link */
.s4{
    width: 100%;
    height: 100vh;
    background-image: url("../photo/Youtube background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.You{
    font-family: Effra;
    font-size: 6vh;
    color: white;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 10vh;
    border: 3px solid red;
    border-radius: 50px;
    margin-top: 10vh;
}
.yout{
width:50vh;
height: 12vh;
}
.You:hover{
    color: white;
    background-color: #ed2024;
}
/* end youtube */
#footer {
    background: #f7f8f9;
    color: #45505b;
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
    height: 190px;
  }
  #footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    font-family: Helvetica;
    padding: 0;
    margin: 0 0 15px 0;
  }
  #footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
  }
  #footer .social-links {
    margin: 0 0 40px 0;
  }
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #03a3ff;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .social-links a:hover {
    background: #027dc4;
    color: #fff;
    text-decoration: none;
  }
  #footer .copyright {
    margin: 0 0 5px 0;
  }
  #footer .credits {
    font-size: 13px;
  }
@media(max-width: 855px){
    .s2{

        padding-bottom: 30px;
    }
}
@media(max-width: 1230px){
    .s2{
        padding-left: 60px;
    }
}
@media(max-width: 960px){
    .s2{
        padding-left: 0px;
    }
    .front{
        border-left: 0;
        padding-left: 0;
    }
    .text{
        text-align: center;
    }
}
@media(max-width: 400px){
#Yico{
    width: 200px;
}
}